# Core API
fastapi
uvicorn
pydantic
python-multipart
prometheus-fastapi-instrumentator

# Machine Learning & Data
scikit-learn==1.8.0
pandas
numpy
joblib
shap
imbalanced-learn
scipy
river

# Security & Governance
PyJWT
cryptography

# Visualization
matplotlib
seaborn

# Utility
aiofiles
python-dotenv
